*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
body{
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
}

/* Header */
.container{

width: 95%;
max-width: 1600px;

}
nav{
            padding: 16px 120px;
            display: flex;
            justify-content: space-between;
}
nav .logo img{
       
width: 139px;
height: 60px;   
}
nav .menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 32px;
}
nav .menu li{
            list-style: none;
            font-size: 16px;
            font-weight: 500;
}

nav .menu li a{
            color: #000;
            text-decoration: none;
            
}
nav .menu li a:hover{
            color: #469165;
            
}
.btn{
            padding: 12px 16px ;
            background-color: #469165;
            border:1px solid #469165;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
}


.btn:hover{
            background-color: transparent;
            border:1px solid #469165;
            color: #469165;
            cursor: pointer;
}
/**  banner */
header{
             margin: 0 auto;
}
.banner{
            background-image: url("../images/hero-bg.png");
            background-repeat: no-repeat;
            height: 100%;
            color: #fff;
            padding: 162px 0;
           
}
.banner-content{
           justify-content: center;
           text-align: center;
       
}
.banner h4{
            width: 239px;
            height: 35px;
            margin: 0 auto;
            background-color: #FFFFFF;
            color: #469165;
            border: none;
            border-radius: 20px;
            padding: 8px  ;
            gap: 2;

}
.banner h2{
            margin: 16px 0;
            font-size: 72px;
            font-weight: 700;
            line-height: 84px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: capitalize;

}

.banner h2 .banner-taking{
            color: #30B868;
}

.banner p{
            color: #FFFFFF;
            font-size: 18px;
            height: 30px;
            padding-bottom: 28px;
}

.banner-btn{
       margin-top:42px;    
       align-items: center;
       justify-content: center;
}

.play-btn{
            padding: 12px 16px ;
            background-color: transparent;
            border:1px solid #fff;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
}     

.play-btn:hover{
              
            background-color: #469165;
            border:1px solid #469165;
            color: #fff;
            
}


/**  structure  **/

.structure{
            padding:62px 120px;
            align-items: center;
            justify-content: center;
            text-align: center;
}

.structure h2{
            font-size: 48px;
            font-weight: 800;
            gap:16px;
            color: #001931;
}
.structure p{
            font-size: 16px;
            line-height: 20px;
            padding: 20px;
            color: #627382;
}
.structure-content{
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
.card{
        
    width: 322px;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

}
.structure-content .card-image{
            background-color:#F95555 ;
            width: 60px;
            height: 60px;
            line-height: 80px;
            margin: 20px auto;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
}
.card h3{
   font-size: 24px;
   font-weight: 600;
   color: #001931;
}

.card p{
     font-size: 16px;
     color: #627382;   
     text-align: left;    
}

/** second brain */
.second-brain{
    padding:62px 120px;
    display: flex;
   justify-content: space-between;
      
}
.second-brain-image img{
   width: 600px;
   height: 600px;
}
.second-brain-content{
   padding-top: 120px;
   padding-left: 60px;
}

.second-brain-content h5{
   color: #469165;
   font-size: 16px;
   font-weight: 600;
}

.second-brain-content h2{
   color: #001931;
   font-size: 48px;
   font-weight: 900;
}

.second-brain-content p{
   font-size: 16px;
   color: #627382;
   line-height: 20px;
   padding: 16px 0;
}
.second-brain-content-text{
   align-items: start;
 
}
.second-brain-content-text h6{
  font-size: 16px;
  font-weight: 600;
    gap:16;
}

.second-brain-content-text img{
 width: 16px;
 height: 16px;
}

/* think more */
.think-more{
    margin:62px 120px;
    background-color: #F7F6F2;
    gap: 24;
    border-radius: 10px;
}
.think-more-content{
  padding: 62px;
  margin: 0px auto;
  text-align: center;
}
.think-more-content h2{
  font-size: 40px;
  font-weight: 800;
   text-transform: capitalize;
}

.think-more-content p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  padding:20px 0;
}
