*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
body{
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
}

/* Header */
.container{

width: 95%;
max-width: 1600px;

}
nav{
            padding: 16px 120px;
            display: flex;
            justify-content: space-between;
}
nav .logo img{
       
width: 139px;
height: 60px;   
}
nav .menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 32px;
}
nav .menu li{
            list-style: none;
            font-size: 16px;
            font-weight: 500;
}

nav .menu li a{
            color: #000;
            text-decoration: none;
            
}

.btn{
            padding: 12px 16px ;
            background-color: #469165;
            border:1px solid #469165;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
}


.btn:hover{
            background-color: transparent;
            border:1px solid #fff;
            color: #469165;
            cursor: pointer;
}
/**  banner */
header{
             margin: 0 auto;
}
.banner{
            background-image: url("../images/hero-bg.png");
            background-repeat: no-repeat;
            height: 100%;
            color: #fff;
            padding: 162px 0;
           
}
.banner-content{
           justify-content: center;
           text-align: center;
       
}
.banner h4{
            width: 239px;
            height: 35px;
            margin: 0 auto;
            background-color: #FFFFFF;
            color: #469165;
            border: none;
            border-radius: 20px;
            padding: 8px  ;
            gap: 2;

}
.banner h2{
            margin: 16px 0;
            font-size: 72px;
            font-weight: 700;
            line-height: 84px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: capitalize;

}

.banner h2 .banner-taking{
            color: #30B868;
}

.banner p{
            color: #FFFFFF;
            font-size: 18px;
            height: 30px;
            padding-bottom: 28px;
}

.banner-btn{
       margin-top:42px;    
       align-items: center;
       justify-content: center;
}

.play-btn{
            padding: 12px 16px ;
            background-color: transparent;
            border:1px solid #fff;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
}     

.play-btn:hover{
              
            background-color: #469165;
            border:1px solid #469165;
            color: #fff;
            
}


